$background-color: var(--background-color);
$group-hover-color: var(--group-hover-color);
$group-selected-color: var(--group-selected-color);
$button-color: var(--button-color);
$button-text-color: var(--button-text-color);
$button-hover-color: var(--button-hover-color);
$header-background-color: var(--header-background-color);
