.left_column_container {
  width: 43.5rem;
  flex-shrink: 0;

  @include tablet {
    width: 100%;
  }
}

.heading {
  position: sticky;
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
  margin-top: 6.6rem;
  margin-bottom: 5.5rem;

  @include tablet {
    font-size: 3.152rem;
    letter-spacing: 0.06rem;
    margin-top: 3.6rem;
    margin-bottom: 2.5rem;
  }
}

.group_list {
  width: 100%;
  height: 100%;
  scrollbar-gutter: auto;
}

.plus_button {
  position: sticky;
  color: $button-text-color;
  font-size: 7rem;
  font-weight: 500;
  line-height: 97.688%;
  letter-spacing: 0.14rem;
  width: 9.3rem;
  height: 9.3rem;
  border-radius: 50%;
  background-color: $button-color;
  bottom: 3.6rem;
  left: calc(100% - 12.9rem);

  &:active {
    font-size: 6.7rem;
  }

  &:hover {
    transition: 0.3s;
    background-color: $button-hover-color;
  }

  @include tablet {
    height: 7.5rem;
    width: 7.5rem;
    font-size: 4rem;
    bottom: 2.5rem;
    left: calc(100% - 9.9rem);
  }
}
