.add_group_modal {
  padding: 3.5rem 5.1rem;
}

.add_group_modal_header {
  font-size: 2.9rem;
  font-weight: 500;
  line-height: 160.188%;
  letter-spacing: 0.1015rem;
}

.add_group_modal_name_search {
  margin-top: 1.42rem;
  gap: 4.2rem;
  font-size: 2.7314rem;
  font-weight: 500;
  line-height: 160.188%;
  letter-spacing: 0.0956rem;
}

.add_group_modal_input {
  flex: 1;
  border-radius: 2.2rem;
  font-family: Roboto;
  border: 0.2rem solid #ccc;
  padding-left: 2.8rem;
  color: black;
  font-size: 2.3rem;
  letter-spacing: 0.0805rem;
  height: 5.1rem;

  &::placeholder {
    color: #979797;
  }
}

.choose_color_margin {
  margin-top: 3.8rem;
}

.create_btn {
  width: 15.4rem;
  height: 3.8rem;
  border-radius: 1.1rem;
  background: #001f8b;
  font-size: 2rem;
  color: #fff;
  line-height: 160.188%;
  letter-spacing: 0.07rem;
  bottom: 1.6rem;
  right: 2.7rem;

  &:active {
    font-size: 1.9rem;
  }

  &:hover {
    transition: 0.3s;
    background-color: #0047ff;
  }
}
