.navbar {
  background-color: $header-background-color;
  height: 9.8rem;

  @include tablet {
    height: 6.6rem;
  }
}

.navbar_group.navbar_group {
  color: #fff;
  cursor: text;

  &:hover {
    background-color: inherit;
  }

  @include tablet {
    font-size: 1.6rem;
    padding: 0.9rem 0;
  }
}

.icon_arrow {
  margin-left: 1.4rem;
  margin-right: 1rem;
}
