.navbar {
  background-color: $header-background-color;
  height: 9.8rem;
}

.navbar_group.navbar_group {
  color: #fff;
  cursor: text;

  &:hover {
    background-color: inherit;
  }
}

.icon_arrow {
  margin-left: 1.4rem;
  margin-right: 1rem;
}
